/* Banner.css */

.Carousel {
    height: 80vh;
  }
  
  .carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    right: 0;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width:80%;
    background-attachment: fixed;
  }
  
  .carousel-overlay {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to right, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 0) 100%) }

  .carousel-content {
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-top: 110px;
  }
  
  .carousel-content h2 {
    width: 70%;
    color: #9c7945;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
  }
  
  .carousel-content p {
    font-family: cursive;
    font-size: 18px;
    color: #8c8c8c;
    text-align: justify;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .carousel-content button {
    
    border:  #8c8c8c 2px solid;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .carousel-content button:hover {
    background-color: #8c8c8c;
}


  
  @media (max-width:450px) {
    .Carousel {
        max-height: 50vh;
      }
      .carousel-content p {
        font-family: cursive;
        font-size: 18px;
        color: #fffefe;
        text-align: justify;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
    .carousel-content {
        position: absolute;
        z-index: 1;
        width: 80%;
        margin-top: 50px;
      }
      .carousel-overlay {
       display: none;
      }
      .carousel-item img {
        right: 0;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        width: 100%;
      }
  }
  @media (max-width:375px) {
    .Carousel {
        max-height: 80vh;
      }
      .carousel-content p {
        font-family: cursive;
        font-size: 18px;
        color: #fffefe;
        text-align: justify;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
    .carousel-content {
        position: absolute;
        z-index: 1;
        width: 80%;
        margin-top: 50px;
      }
      .carousel-overlay {
       display: none;
      }
  }